NEXT_PUBLIC_FIREBASE_API_KEY= "AIzaSyB4KQ5aXVIeKMf3cgw1NEye9MwWWftunx4"
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN="menu-6ec94.firebaseapp.com"
NEXT_PUBLIC_FIREBASE_PROJECT_ID="menu-6ec94"
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET="menu-6ec94.firebasestorage.app"
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID="529937193548"
NEXT_PUBLIC_FIREBASE_APP_ID="1:529937193548:web:ad5c60b7edfea0bd3ef2e9"
NEXT_PUBLIC_SITE_URL=https://stone-cafe-menu.vercel.app/

FIREBASE_ADMIN_PROJECT_ID=
FIREBASE_ADMIN_CLIENT_EMAIL=
FIREBASE_ADMIN_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n"
